:root {
    //Main//
    --text-color: #514D59;
    --accent-color: #884AFF;

    //Footer //
    --footer-text-header: #FFFFFF;
    --footer-text: #FAFAFA;
    --sub-footer-text-color: #625F67;

    //Fonts//
    --font-main: "Poppins", sans-serif;
    --font-text: "Roboto", sans-serif;

    //Enviroment//
    --ui-logo-text-dot-gradient-first: #FFF48E;
    --ui-logo-text-dot-gradient-second: #FF9900;
    --ui-logo-text: #493964;
    --ui-tip: #212121;
    --ui-background-color: #FFFFFF;
    --ui-middle-color: #FAFAFA;
    --ui-footer-color: #333333;
    --ui-sub-footer-color: #EAEAEA;
    //item//
    --item-bell-notification: #EB001B;
}

